<div fxLayout="row" class="header-container" fxLayoutAlign="start start" fxLayoutGap="10px">
  <mat-icon style="padding-top:8px">currency_exchange</mat-icon>
  <h2 style="padding-top:4px">Конвертер валют</h2>
</div>
<div style="margin:24px" fxLayout="column">
  <div fxLayout="row" fxLayout.lt-xs="column" fxLayoutAlign="start center" fxLayoutGap="30px">
    <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="center center">
      <h1 class="rate-label">USD:</h1>
      <h1>{{rateUSD}}</h1>
    </div>
    <div fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="center center">
      <h1 class="rate-label">EUR:</h1>
      <h1>{{rateEUR}}</h1>
    </div>
  </div>
  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.gt-xs="start center">
    <currency-input #currInpLeft
                    [(value)]="valueLeft"
                    [(currency)]="currencyLeft"
                    (valueChange)="onLeftChange()"
                    (currencyChange)="onLeftChange()"
                    [busy]="currencyRight">
    </currency-input>
    <button mat-icon-button color="primary" (click)="swap()" fxFlexAlign.lt-sm="center">
      <mat-icon fxHide.lt-sm>swap_horiz</mat-icon>
      <mat-icon fxHide fxShow.lt-sm>swap_vert</mat-icon>
    </button>
    <currency-input #currInpRight
                    [(value)]="valueRight"
                    [(currency)]="currencyRight"
                    (valueChange)="onRightChange()"
                    (currencyChange)="onRightChange()"
                    [busy]="currencyLeft">
    </currency-input>
  </div>
</div>
